<table>
  <thead>
    <td>ID</td>
    <td>Title</td>
    <td>Markers</td>
  </thead>
  <% @journeys.each do |journey| %>
  <tr>
    <td><%= link_to journey.id.to_s, journey  %></td>
    <td><%= journey.title %></td>
    <td><%= journey.markers.length %></td>
  </tr>
  <% end %>
</table>
